---
#
#  Installing on Ubuntu
#

- hosts: all
  become: yes

  tasks:

    - name: ensure required packages are installed for Java 8
      apt: name="{{item}}" state=latest update_cache=yes
      with_items:
        - python-software-properties
        - software-properties-common

    - name: Add webupd8team/java repository on Ubuntu
      apt_repository: repo="ppa:webupd8team/java" update_cache=yes
#      when: ansible_distribution in [ 'Ubuntu' ]
#      when: ansible_distribution == 'Ubuntu'

    - name: Autoaccept license for Java
      shell: echo oracle-java8-installer shared/accepted-oracle-license-v1-1 select true | sudo /usr/bin/debconf-set-selections

    - name: Update APT package cache
      apt: update_cache=yes

    - name: Install Java 8 and set Env
      apt: name={{item}} state=latest install_recommends=yes update_cache=yes
      with_items:
        - oracle-java8-installer
        - oracle-java8-set-default
